<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mosico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mosico.Properties.Settings>
            <setting name="CellColor" serializeAs="String">
                <value>4278190080</value>
            </setting>
            <setting name="CellSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="InitialCircleSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CarlaSizeBindingField" serializeAs="String">
                <value>gforce_longitudinal</value>
            </setting>
            <setting name="CarlaSizeBindingScale" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="MaxCircleSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="CarlaOffsetBindingField" serializeAs="String">
                <value>gforce_lateral</value>
            </setting>
            <setting name="CarlaOffsetBindingScale" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SizeChangeDamping" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="OffsetChangeDamping" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ValtraImuSizeBindingField" serializeAs="String">
                <value>AccBdyX</value>
            </setting>
            <setting name="ValtraImuSizeBindingScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ValtraImuOffsetXBindingField" serializeAs="String">
                <value>AccBdyY</value>
            </setting>
            <setting name="ValtraImuOffsetYBindingField" serializeAs="String">
                <value>AccBdyZ</value>
            </setting>
            <setting name="ValtraImuOffsetBindingScale" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>0</value>
            </setting>
        </Mosico.Properties.Settings>
    </userSettings>
</configuration>