<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mosico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mosico.Properties.Settings>
            <setting name="CellColor" serializeAs="String">
                <value>4278190080</value>
            </setting>
            <setting name="CellSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CircleSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BindSizeField" serializeAs="String">
                <value>gforce_longitudinal</value>
            </setting>
            <setting name="BindSizeScale" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="BindSizeMax" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="BindOffsetField" serializeAs="String">
                <value>gforce_lateral</value>
            </setting>
            <setting name="BindOffsetScale" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BindSizeDamp" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="BindOffsetDamp" serializeAs="String">
                <value>0.3</value>
            </setting>
        </Mosico.Properties.Settings>
    </userSettings>
</configuration>